---
title: Руководство. Педагогический(научно-педагогический) состав
layout: default
menutitle: Коллектив
pageOrder: 5
---

<style media="screen">
	.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
		min-height: 260px;
}
 .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
.card-info {
	padding-left: 5px;
}
</style>
<div class="page-header">
  <h1>Руководство, Педагогический <small> (научно-педагогический) состав</small></h1>
</div>
<div class="container-fluid" ng-controller="SchedulerCtrl">

	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3 card" ng-repeat="man in docs">
						<div class="">
							<img ng-src="{{dbUrl + man.id + '/photo.thumb.jpg'}}" alt="" class="img-responsive pull-left">

					    <h1>
								{{man.value.firstname}}
								<br>
								{{man.value.fathername}}
								<br>
								{{man.value.lastname}}
							</h1>
							<h4 class="grey">
								{{man.value.appointment}}
							</h4>
					    <p>
								<div ng-show="man.value.day" class="">
										<i class="fa fa-2x fa-clock-o" aria-hidden="true"></i>
										Время приема:
										<span class="label label-default">
											{{man.value.day}} {{man.value.time}}
										</span>
								</div>
								<div class="btn-group btn-group-justified btn-group-sm" >
									<a  role="button" href="tel:{{man.value.phone}}" class="btn btn-primary" ng-show="man.value.phone" role="button">
											<i class="fa fa-phone fa-2x fa-fw" aria-hidden="true"></i>&nbsp;
											{{man.value.phone}}
									</a>
										<a  role="button" href="mailto:{{man.value.email}}" class="btn btn-warning" ng-show="man.value.email" role="button">
												<i class="fa fa-envelope fa-2x fa-fw" aria-hidden="true"></i>&nbsp;
												{{man.value.email}}
										</a>
										<a role="button" class="btn btn-info" ng-click="showPanel=!showPanel"  ng-init="showPanel=false">
											Сведения
											<i class="fa-arrow-up fa fa-2x fa-fw" ng-show='showPanel'></i>
											<i class="fa-arrow-down fa fa-2x fa-fw" ng-show='!showPanel'></i>
										</a>
								</div>
						</p>


						</div>

				<div ng-show="showPanel" >
					<dl class="dl-horizontal">
						<dt ng-show="man.value.category">Категория</dt>
							<dd>{{man.value.category}}</dd>

						<dt ng-show="man.value.education">Образование</dt>
							<dd>{{man.value.education|joinBy:'; '}}</dd>
						<dt ng-show="man.value.degree">Ученая степень:</dt>
							<dd>{{man.value.degree|joinBy:'; '}}</dd>
            <dt ng-show="man.value.up">Повышение<br> квалификации</dt>
              <dd>{{man.value.up|joinBy:'; '}}</dd>

            <dt ng-show="man.value.professional">Профессиональная<br> подготовка</dt>
              <dd>
								<ul>
									<li ng-repeat="prof in man.value.professional">{{prof}}</li>
								</ul>
							</dd>

						<dt ng-show="man.value.since">Общий стаж</dt>
							<dd>{{man.value.since}}</dd>

						<dt ng-show="man.value.edusince">Педагогический стаж</dt>
							<dd>{{man.value.edusince}}</dd>





					</dl>
				</div>
			</div>
	</div>
</div>

<script src="/js/people.js" charset="utf-8"></script>
