---
title: Расписание
description: Изменения в расписании
layout: default
standalone: true
---

<div class="container-fluid" ng-controller="SchedulerCtrl">
	<div class="page-header ">
		<h1>
			{{_doc.date}}
		</h1>
	</div>
	<div class="row schedule">
		<div class="table-responsive">
			<table class='table table-bordered table-condensed table-striped schedule'>
				<thead>
					<tr>
						<th width="25"></th>
						<th ng-repeat="cols in _doc.grid.columns track by $index" width="60">{{cols}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in _doc.grid.data track by $index">
						<th>{{$index+1}}</th>
						<td ng-repeat="col in _doc.grid.data[$index] track by $index" ng-class="_doc.cellStyle[$parent.$index][$index]=='grey' ? 'info':'' ">{{col}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>





<script src="/js/scheduler.js" charset="utf-8"></script>
