---
title: Расписание
description: Изменения в расписании
layout: default
standalone: true
menutitle: Расписание
---

<div class="container-fluid" ng-controller="SchedulerCtrl">
	<div class="page-header ">
		<h1>
			{{_doc.date}}
		</h1>
	</div>
	<div class="row schedule">
		<div class="table-responsive">
			<table class='table table-bordered table-condensed table-striped schedule'>
				<thead>
					<tr>
						<th width="25"></th>
						<th ng-repeat="cols in _doc.grid.columns track by $index" width="60">{{cols}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in _doc.grid.data track by $index">
						<th>{{$index+1}}</th>
						<td ng-repeat="col in _doc.grid.data[$index] track by $index" ng-class="_doc.cellStyle[$parent.$index][$index]=='grey' ? 'info':'' ">{{col}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>





<script src="/js/scheduler.js" charset="utf-8"></script>
<br>
 * - изменения в расписании отслеживаются родителями (законными представителями) несовершеннолетнего самостоятельно
<br>
<br>
<table class="table table-bordered">
 <thead>
	<tr>
		 <td>Расписание звонков</td>
	</tr>
	</thead>
	<tr>
		 <td>1 урок - 9:00-9:45</td>
	</tr>
	<tr>
		 <td>2 урок - 9:50-10:35</td>
	</tr>
	<tr>
		 <td>3 урок - 10:50-11:35</td>
	</tr>
	<tr>
		 <td>4 урок - 11:55-12:40</td>
	</tr>
	<tr>
		 <td>5 урок - 13:00-13:45</td>
	</tr>
	<tr>
		 <td>6 урок - 13:50-14:35</td>
	</tr>
	<tr>
		 <td>7 урок - 14:40-15:25</td>
	</tr>
	<tr>
		 <td>8 урок - 15:30-16:15</td>
	</tr>
</table>
