//gradients
.gb-blue {
    background-color: #203f65;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzYTY2OWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzA2MTgyZiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuOTU5MDAwMDAwMDAwMDAwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiMzYTY2OWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjk4ODg1NTA5ODM4OTk4MiIvPjxzdG9wIHN0b3AtY29sb3I9IiMwNzE5MzAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(58, 102, 154)),color-stop(0.959, rgb(6, 24, 47)),color-stop(0.989, rgb(58, 102, 154)),color-stop(1, rgb(7, 25, 48)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom right,rgb(58, 102, 154) -3px,rgb(6, 24, 47) 95.9%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top left,rgb(58, 102, 154) -3px,rgb(6, 24, 47) 95.9%);
    background-image: -ms-repeating-linear-gradient(bottom right,rgb(58, 102, 154) -3px,rgb(6, 24, 47) 95.9%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gb-blue {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff06182f",endColorstr="#ff3a669a",GradientType=0);
    }
}

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;grey3d */

.gb-blue2 {
	background: rgb(96,108,136); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10 preview */
	background: linear-gradient(to bottom,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

}

//gradient
.filter-gradient{
  position: relative;
}
.filter-gradient:after{
    background-size: 2000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    content: "";
}
.filter-gradient.gray:after{
  background: rgba(0, 0, 0, 0.1) ;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}
.filter-gradient.blue:after{
  background: rgba(8, 93, 118, 0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99085D76,endColorstr=#99085D76);
}
.filter-gradient.green:after{
  background: rgba(32, 84, 21, 0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99205415,endColorstr=#99205415);
}
.filter-gradient.orange:after{
  background: rgba(116, 43, 17, 0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99742B11,endColorstr=#99742B11);
}
.filter-gradient.red:after{
  background: rgba(169, 10, 10, 0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99A90A0A,endColorstr=#99A90A0A);
}
