$color1: #7C05FF; //фиолетовый
$color2: #2704E8; //темносиний
$color3: #0830FF; //синий
$color4: #0470E8; //голубой
$color5: #04C9FF; //берюса

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

@import "tree"; //дерево
@import "diamonds"; //коллектив
@import "diamonds-contacts"; //
@import "landing-page"; //
@import "style"; //

.handwright {
  //font-family: 'Lobster', cursive;
  //font-family: 'Bad Script', cursive;

}
.rounded {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #000;
  padding: 10px 10px 10px 10px;
  min-height: 290px;
}
