$color1: #7C05FF; //фиолетовый
$color2: #2704E8; //темносиний
$color3: #0830FF; //синий
$color4: #0470E8; //голубой
$color5: #04C9FF; //берюса

$footer: #292F3C;

//@import url('https://fonts.googleapis.com/css?family=Lobster');
//@import url('https://fonts.googleapis.com/css?family=Bad+Script');

@import "tree"; //дерево
@import "diamonds"; //коллектив
//@import "diamonds-contacts"; //
@import "landing-page"; //
@import "style"; //
@import "icons";
@import "blocks";
@import "listGroup";
//@import "table";
//@import "";
//@import "";
.thumbnails_list {
	li, div {
		width: 100px;
		min-height: 30px;
		border: 1px solid #000;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: top;
		margin: 5px;
		zoom: 1;
		display: inline;
		height: 250px;
}
}


.push {
	padding-bottom: 50px;
	margin-bottom: 20px;
}
.col3 {
	columns: 3;
	ul {
		break-inside: avoid;
	}
	hr {
		color: $footer;
	}
	p {
		font-size: 13px !important;
		line-height: 15px;
	}
	p:after {
		border-bottom: 1px solid $footer;
	}
}

.uppercase {
	text-transform: uppercase;
}
.white {
	color: #fff;
}
.footer-btn {
	color: #fff;
	font-size: 13px;
	box-sizing: border-box;
}
.footer-small {
	font-size: 11px !important;
	padding: 0px 0px 0px 0px;
	white-space: nowrap;
}
.footer-mid {
	font-size: 13px !important;
}
.footer-header {
	padding-top: 5px !important;
	//margin-top: 60px;
	a {
		color: #fff;
		font-size: 13px;
		//display: block;
	}
	.footer-btn {
		font-size: 13px;
		color: #FFF;

	}
	.navbar-brand {
		padding-top: 0px !important;
		line-height: 13px !important;
		color: #fff;
		* {
			color: #fff;
			font-weight: bolder;

		}
		.rounded {
			  display: inline-block;
			  border-radius: 60px;
			  box-shadow: 0px 0px 2px #888;
		}
		div {
			display: inline-block;
		}
	}
}

// .flex {
// 	//display: flex;
// 	//columns: 3;
// 	li {
// 		//flex: 1;
// 	}
// }
.footer-info {
	padding: 5 5 5 5;
	font-size: 12px !important;
	line-height: 12px;
	//font-weight: 400;
}


// #push, .footer {
// 	position: absolute;
// 	//margin-top: 60px;
// 	bottom: 0;
// 	min-height: 60px;
// 	max-height: 120px;
//
// }
// .footer {
// 	background-color: $footer;
// 	width: 100%;
// 	color: #fff;
// }
//
// .footer {
// 	.footer-logo {
// 		position: absolute;
// 		left:0;
// 		bottom: 0;
// 	}
// }


// .footer-menu {
// 	//columns: 3 200px;
// 	//column-fill: balance;
// 	//column-rule-style: solid;
// 	//column-rule-color: #000;
// 	//column-rule-width: medium;
// 	//column-gap: 20px;
// 	//break-inside: avoid;
// 	ul {
// 		list-style: none;
// 		li {
// 			float: left;
//
// 		}
// 	}
//
//
//
// }

.photoIndex {
	text-align: left;
	img {
		width: 200px;
		height: 200px;
	}
}

.logo-title {
	padding-left: 30px;

}
.posts {
	a:hover {
		text-decoration: none;
	}
	.media-body {
		border-bottom: 1px solid #000;
	}
}

.contacts {
	//min-height: 200px;
	.contacts-body {
		min-height: 120px !important;
		height: 200px !important;
		//padding: 0 0 0 0;
		.row div {
			padding: 0 0 0 0;
		}
	}
	.contacts-title {
		font-size: 1vw;
		width: 320px;
		line-height: 14px;
	}
	.contacts-heading{
		 height: 40px;
	}
	.contacts-info {
		font-size: 15px;
		font-weight: 400;
		line-height: 1;
		white-space: nowrap;
		word-break: keep-all;

	}
	.list-group-item {
		//min-height: 40px;
		word-break: keep-all;
	}
	.contacts-body {
		padding: 0 0 0 0;
	}
	.media-body {
		padding: 15px;
	}
	.contacts-heading {
		line-height: 15px;
	}
	.photo {
		overflow: visible;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		img {
			width: 133px;
			height: 200px;
		}
	}
	.contacts-links {
		text-align: center;
		width: 100%;
		a {
			box-sizing: border-box;
			//width: 50%;
			display: inline-block;
			text-align: center;
			word-break: keep-all;
			white-space: nowrap;
			text-transform: uppercase;
			font-size: 1vh;
		}
		.contacts-links-btn {
			font-size: 10pt;
			text-align: center;
			width: 100%;
			display: inline-block;
		}
		a:first-child {
			width: 36%;
			//background-color: $color2;
			div {
				border-right: 1px solid #000;
			}
		}
		a:nth-child(2) {
			width: 60%;
		}
	}
	.panel-footer {
		//padding: 0 0 0 0 !important;
		height: 45px;
		overflow: hidden;
	}
	.panel-heading {
		vertical-align: center;
		font-weight: bold;
		padding: 0 0 0 0;
		text-transform: uppercase;
		font-size: 1.8vw;
	}
	// .panel-title {
	// 	width: 320px;
	// }
}

// .description {
// 	border: 2px solid #FFF;
// 	border-radius: 5px;
// }

// .jumbotron img {
//   width: 120px;
// }
.jumbotron {
  margin-top: 15px;
	margin-bottom: 15px;
}
.thumbnail {
	margin-bottom: 0px !important;
}
.handwright {
  font-family: 'Lobster', cursive;
  font-family: 'Bad Script', cursive;
}
.rounded {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #000;
  padding: 10px 10px 10px 10px;
  min-height: 290px;
}
