
$color1: #11497F; //blue
$color2: #E00E00; //red
$color3: #086ACC; //синий
$color4: #8C9915; //green
$color5: #747F0B; //green

$footer: #292F3C;
$blue: #1e5d94;
$grey: #9D9DA5;
$darkBlue: #445273;
//@import url('https://fonts.googleapis.com/css?family=Lobster');
//@import url('https://fonts.googleapis.com/css?family=Bad+Script');
// @import 'bootstrap-sass';
// @import "bootstrap/dist/css/bootstrap-theme";
//@import "./bootstrap-grid-flexbox.min.css";
@import "./_bootstrap.min.scss";
@import "./_bootstrap-theme.min.scss";
  
//@import 'navbar-fixed-side';
//@import "tree"; //дерево
// @import "_media/sm";
// @import "_media/md";
// @import "_media/lg";
//@import "diamonds"; //коллектив
//@import "diamonds-contacts"; //
// @import "landing-page"; //
@import "style"; //
@import "icons";
@import "blocks";
@import "listGroup";
@import "mediaMD";
@import "_nav";
//@import "row-flex";
@import "landing";
@import "video";
@import "paralax";
@import "gradients";

body {
	font-size: 14px;
	padding-top: 50px;
	padding-bottom: 50px;
}
p {
	font-size: 1.3em;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.65em;
}
h4 {
	font-size: 1.9em;
}
h5 {
	font-size: 1.7em;
}
h6 {
	font-size: 1.5em;
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
	font-weight: 800;
}

.text-shadow {
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.4) !important;
}


.btn-footer {
	line-height: 1;
	height: 40px;
	font-weight: 500;
	color: $grey;
	i {
		vertical-align: top;
	}
	&:hover {
		color: #fff;
	}
}


.white {
	color: #fff;
}
.grey {
	color: #4d4d4d;
}

.bg-blue {
	background-color: $blue;
}
.bg-darkBlue {
	background-color: $darkBlue !important;
}
.navbar-brand-logo {
	max-width: 80px;
	height: auto;
	overflow: visible;
	z-index: 999999999999;
	display: inline-flex;
	padding: 0 5px 0 0;
	img {
		width: auto;
		max-height: 70px;
	}
}
.navbar-brand-title {
	// background: url(/logo-title-white.svg) 100% 100%;
	// background-size: cover;
	// background-position: center center;
	max-width: 500px;
	min-width: 200px;
	height: auto;
	width: 100%;
	//width: 100px;
	//height: 50px;
	//min-width: 100px;
	min-height: 25px;
	display: inline-flex;
	padding-left: 5px;
	padding-right: 10px;
}
.navbar-top {
	max-height: 50px;
	.navbar-header {
		height: 50px;
	}
	.navbar-collapse {
		ul {
			height: 100%;
		}
	}
	ul>li {
		height: 100%;
		* {
			height: 100%;

		}
		a {
			padding-top: 0;
			padding-bottom: 0;
		//	padding-left: 5px;
		}
	}
}
.navbar {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.navbar-collapse:not(.in) {
	    background-color: transparent !important;
}
///card
.card {
	* {
		color: #000;
		font-weight: bold;
	}
	.icon {
		display: block;
	}
}



///card

//flex navbar-brand


.schedule {
	* {
		text-align: center;
		vertical-align: middle;
	}
	th {
		font-size: 1.4em;
		//ont-weight: 700;
		height: 40px;
	}
	td {
		font-size: 1.2em;
		min-height: 40px;

	 	word-break:keep-all;
		//font-weight: bold;
		white-space: pre-wrap !important;
		width: 40px;
	}
}


.flex-column {
	flex-direction: column;
	height: 200vh;
}


.w100 {
	min-width: 100%;
}
.w50 {
	width: 50%;
}


.table-row-height {
	tr {
		td {
			min-height: 50px;
			min-width: 50px;
		}
		th {
			width: 250px;
		}
	}
}

/* hide inactive nested list */
.bs-docs-sidebar {
	//background: #fff !important;
	.nav {
		ul.nav {
				display: none;
		}
		.active>ul.nav {
				display: block;
		}
	}
}

.feedback-bottom-right {
	z-index: 1000;
	position: fixed !important;
	bottom: 80px !important;
	right: 10px !important;
}




// .header {
// 	display: inline-flex;
// 	box-sizing: border-box;
// 	header-logo {
// 		display: inline-block;
// 		box-sizing: border-box;
// 	}
// 	header-title {
// 		display: inline-block;
// 		box-sizing: border-box;
// 	}
// }




//@import "table";
//@import "";
//@import "";

// .list-group-colored {
// 	.list-group-item:nth-child(2n){
// 		background-color: $color3;
// 	}
// 	.list-group-item:nth-child(3n){
// 		background-color: $color4;
// 	}
//
// }



.list-group-addon {
  padding: 10px 10px;
  font-size: 15px;
  display:inline;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 6px;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1428571435;
  color: inherit;
  background-color: #eeeeee;
  p {
  	font-size: 14px !important;
  }
}

.push {
	padding-bottom: 50px;
	margin-bottom: 20px;
}
.col3 {
	columns: 3;
	ul {
		break-inside: avoid;
	}
	hr {
		color: $footer;
	}
	p {
		font-size: 13px !important;
		line-height: 15px;
	}
	p:after {
		border-bottom: 1px solid $footer;
	}
}

.uppercase {
	text-transform: uppercase;
}
.white {
	color: #fff;
}
.footer-btn {
	color: #fff;
	font-size: 13px;
	box-sizing: border-box;
}
.footer-small {
	font-size: 11px !important;
	padding: 0px 0px 0px 0px;
	white-space: nowrap;
}
.footer-mid {
	font-size: 13px !important;
}
.footer-header {
	a {
		color: $grey;
		//font-size: 13px;
		//display: block;
	}
	.footer-btn {
		font-size: 13px;
		//color: #FFF;

	}

}

// .flex {
// 	//display: flex;
// 	//columns: 3;
// 	li {
// 		//flex: 1;
// 	}
// }


.footer-menu {
	list-style: none;
	columns: 4;
	-webkit-columns: 4;
	li {
		line-height: 1.3;
		padding-top: 4px;
		a {
			color: $grey;
			text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.5);
			&:hover {
				color: #fff;
			}
		}
	}
}

.photoIndex {
	text-align: left;
	img {
		width: 200px;
		height: 200px;
	}
}

.logo-title {
	padding-left: 30px;

}
.posts {
	a:hover {
		text-decoration: none;
	}
	.media-body {
		border-bottom: 1px solid #000;
	}
}

.contacts {
	//min-height: 200px;
	.contacts-body {
		min-height: 120px !important;
		height: 200px !important;
		//padding: 0 0 0 0;
		.row div {
			padding: 0 0 0 0;
		}
	}
	.contacts-title {
		font-size: 1vw;
		width: 320px;
		line-height: 14px;
	}
	.contacts-heading{
		 height: 40px;
	}
	.contacts-info {
		font-size: 15px;
		font-weight: 400;
		line-height: 1;
		white-space: nowrap;
		word-break: keep-all;

	}
	.list-group-item {
		//min-height: 40px;
		word-break: keep-all;
	}
	.contacts-body {
		padding: 0 0 0 0;
	}
	.media-body {
		padding: 15px;
	}
	.contacts-heading {
		line-height: 15px;
	}
	.photo {
		overflow: visible;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		img {
			width: 133px;
			height: 200px;
		}
	}
	.contacts-links {
		text-align: center;
		width: 100%;
		a {
			box-sizing: border-box;
			//width: 50%;
			display: inline-block;
			text-align: center;
			word-break: keep-all;
			white-space: nowrap;
			text-transform: uppercase;
			font-size: 1vh;
		}
		.contacts-links-btn {
			font-size: 10pt;
			text-align: center;
			width: 100%;
			display: inline-block;
		}
		a:first-child {
			width: 36%;
			//background-color: $color2;
			div {
				border-right: 1px solid #000;
			}
		}
		a:nth-child(2) {
			width: 60%;
		}
	}
	.panel-footer {
		//padding: 0 0 0 0 !important;
		height: 45px;
		overflow: hidden;
	}
	.panel-heading {
		vertical-align: center;
		font-weight: bold;
		padding: 0 0 0 0;
		text-transform: uppercase;
		font-size: 1.8vw;
	}
	// .panel-title {
	// 	width: 320px;
	// }
}

 3
.jumbotron {
  margin-top: 15px;
	margin-bottom: 15px;
}
.thumbnail {
	margin-bottom: 0px !important;
}
.handwright {
  font-family: 'Lobster', cursive;
  font-family: 'Bad Script', cursive;
}
.rounded {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #000;
  padding: 10px 10px 10px 10px;
  min-height: 290px;
}
