/* Sticky footer styles
-------------------------------------------------- */

      /*html,
      body {
        min-height: 100%;
        position: relative;

      }
      */

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
        padding-bottom: 60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        position: absolute;
        bottom: 0;
        height: 60px;

      }
      #footer {
        background-color: #292F3C;
        width: 100%;
        color: #fff;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    /*padding: 60px 15px 0;*/
  }
  .container .text-muted {
    margin: 20px 0;
  }

  #footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
  }

  code {
    font-size: 80%;
  }

  html {
    height: 100%;
    overflow: auto;
  }
  body {
    height: auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
  }
  a {
    color: #445273;
  }
  a:hover {
    color: #F9E353;
    text-decoration: underline;
  }
  h6 {
    text-decoration: none;
  }
  h6 a:hover {
    text-decoration: none;
  }
  h5 {
    text-decoration: none;
    color: #777777;
    text-transform: none;
  }
  h4 {
    text-decoration: none;
    text-transform: uppercase;
    color: #777777;
  }
  h3 {
    text-decoration: none;
  }
  h3 a:hover {
    text-decoration: none;
  }
  h2 {
    text-decoration: none;
  }
  h2 a:hover {
    text-decoration: none;
  }
  h1 a:hover {
    text-decoration: none;
  }
.address > a{
  color: #FFF;
  size: 6pt;
}
.address > h5 {
  color: #F9E353;
}


a.block { display: block; }
.grayblock2 {
  background-color: lightgrey;
  height: 180px;
  text-align: center;
  text-shadow: 1px;
}
.grayblock2:hover .icon i{
  color:red;
}
.grayblock1 {
  background-color: lightgrey;
  border-radius: 2px 2px 2px;
  height: 400px;
  padding: 10px;
}
.grayblock11 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 0px 1px #000000;
  -webkit-box-shadow: 0px 0px 1px #000000;
  box-shadow: 0px 0px 1px #000000;
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
  margin: 3px;
}
.grayblock1 h3, .grayblock11 h3{
  text-align: center;
  color: #777777;
}
.grayblock1 div{
  padding-left: 50px;
}
.icon {
  text-align: center;

}
.icon i{
    font-size: 90px;
     color: #9a9a9a;
     margin: 0 auto;
     margin-top: 5px;
}

#page h1 {
  font-size: 25px;
  text-indent: 30px;
}
.jumbotron {
  margin-bottom:  100px;
}
.navbar {
  background-color: #2F3950;
}
.navbar-collapse{
  background-color: #445273;
  text-align: center;
}
.navbar #nav > .active > a {
    background-color: #2F3950;
}

#navbar #nav{
  width: 100%;
  text-align: center;
}
#nav > li > a {
  color: #fff;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
#mainTable td, #mainTable table {
		background-color:lightgrey !important;
    height: 35px;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		border: 1px solid black;

}
#mainTable td div {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 100%;
}
#mainTable thead td, #mainTable th {
	background-color: #fff;
	border: 1px solid black;

}

#mainTable th, #mainTable td {
	text-align: center;
  /*width: 5%;*/
}
#mainTable td + td, #mainTable th + th {
	text-align: center;
}

#mainTable div {
	width:100%;
	height: 100%;
	background-color:#fff;
}
.head {
	background-color:#fff;
}
.header, header > h1 {
  color: #fff;
}
.address {
  color: #fff;
}

h2{color:#2F3950;}
 .margin10{margin-bottom:10px; margin-right:10px;}
 .blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

h1
    {
    font-size: 2.2em;
}

h2
    {
    font-size: 2.0em;
}

h3
    {
    font-size: 1.8em;
}

h4
    {
    font-size: 1.6em;
}

h5
    {
    font-size: 1.4em;
}

p
    {
    font-size: 1.2em;
}
.thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.center-block {float: none !important}
.posts_list, .posts_list:hover {
  color: navy;
    text-decoration: none;
  font-size: 10pt;
}
.glass {
  position: absolute;
  top: 50px;
  right: 50px;
}
.btn-circle {
  height: 50px;
  color: #000;
  text-align: center;
  border-radius: 7px;
}
.nav-bottom {
  list-style-type: none;
}
.nav-bottom li a{
  color: #fff;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

img.no-resize {
  min-height: 40px;
  min-width: 50px;
}
