/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  margin-top: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #292F3C;
}
.footer .container {
  color: #fff;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
  }
  .container .text-muted {
    margin: 20px 0;
  }

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  code {
    font-size: 80%;
  }

  html {
    height: 100%;
    overflow: auto;
  }
  body {
    height: auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
  }
  a {
    color: #445273;
  }
  a:hover {
    color: #F9E353;
    text-decoration: underline;
  }
  h6 {
    text-decoration: none;
  }
  h6 a:hover {
    text-decoration: none;
  }
  h5 {
    text-decoration: none;
    color: #777777;
    text-transform: none;
  }
  h4 {
    text-decoration: none;
    text-transform: uppercase;
    color: #777777;
  }
  h3 {
    text-decoration: none;
  }
  h3 a:hover {
    text-decoration: none;
  }
  h2 {
    text-decoration: none;
  }
  h2 a:hover {
    text-decoration: none;
  }
  h1 a:hover {
    text-decoration: none;
  }
.address {
  color: #FFF;
  size: 6pt;
}
.address > h5 {
  color: #F9E353;
}



.navbar {
  background-color: #2F3950;
}
.navbar-collapse{
  background-color: #445273;
  text-align: center;
}
.active2 {
    color: blue;
    background-color: #4452;

}
.nav .open > a
{
    background:#759ad6;
    //put styling
}
a.block { display: block; }
.grayblock2 {
  background-color: lightgrey;
  height: 180px;
  text-align: center;
}
.landing-page .section-features .card .icon i{
     color: #9a9a9a;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}
.row {
  height: 100px;
}
