<div class="parallax filter-gradient blue" data-color="blue">
		<div class="parallax-background">
				<img class="pull-right" src="/img/bg.building.png">
		</div>
		<div class= "container-fluid">
				<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4 hidden-xs photoIndex">
								<div class="parallax-image">
									<figure>
											<img class="img-responsive"  src="/img/_avg1.jpg">
										</figure>
								</div>
						</div>
						<div class="col-sm-7 col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1">
							<div class="description">
								<i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
							<b>Санкт-Петербург</b> – крупнейший мегаполис мира и представить город без
							<i>метрополитена</i> сегодня невозможно. <br>
							Поэтому вопрос подготовки кадров для метрополитена очень актуален.
							Приоритетной задачей колледжа является развитие <i>инновационного образования</i>,
							ориентированного, прежде всего, на интересы города,
							на стратегическое партнерство нашего учреждения и
							<i>Петербургского метрополитена</i>, других предприятий города,
							на повышение престижа рабочих профессий.
							<hr>
							<B>Колледж метрополитена</b> является единственным образовательным учреждением <i>Санкт-Петербурга</i> и России
								в области <i>подготовки профессиональных кадров для метрополитена</i>.
								Высокопрофессиональный инженерно-педагогический коллектив,
								широко использующий <b>инновационные образовательные технологии</b>,
								современные компьютерные программно-аппаратные комплексы,
								реализует систему подготовки рабочих и специалистов для <i>метрополитена</i> с учетом
								<i>новых федеральных образовательных стандартов</i>.
							Сегодня, в условиях стремительных изменений в образовательной сфере,
							 коллектив колледжа сохраняет всё лучшее, что было сделано более
							 чем 40 летнюю историю существования нашего <i>образовательного учреждения</i> и,
							 наряду с этим, старается соответствовать всем требованиям, которые
							 диктуют современные условия работы.

							</div>
					</div>
				</div>
		</div>
</div>
