<div id="calGraph" class="list-group-item list-group-item-warning">
	<div class="list-group-item-heading">
		<h6><i class="fa-calendar-check-o fa fa-fw fa-2x"></i>Календарные графики</h6>
	</div>
	<div class="list-group">
		<a href="/info/education/plans/15.01.25-Станочник-(металлообработка).pdf" class="list-group-item link-icon">15.01.25 Станочник (металлообработка)</a>
		<a href="/info/education/plans/23.01.10-Слесарь-по-обслуживанию-и-ремонту-подвижного-состава.pdf" class="list-group-item link-icon">23.01.10 Слесарь по обслуживанию и ремонту подвижного состава</a>
		<a href="/info/education/plans/23.01.12-Слесарь-электрик-метрополитена.pdf" class="list-group-item link-icon">23.01.12 Слесарь-электрик метрополитена</a>
		<a href="/info/education/plans/23.01.13-Электромонтер-тяговой-подстанции.pdf" class="list-group-item link-icon">23.01.13 Электромонтер тяговой подстанции</a>
		<a href="/info/education/plans/23.01.14-Электромонтер-устройств-СЦБ.pdf" class="list-group-item link-icon">23.01.14 Электромонтер устройств СЦБ</a>
	</div>
</div>
