<div id="edu-adapt" class="list-group-item">
	<div class="list-group-item-heading">
		<h6>
			<i class="fa-institution fa fa-fw fa-2x"></i>
			Рабочие программы адаптационного цикла
		</h6>
	</div>
	<div class="list-group">
		<a href="/info/education/adaptProg/социальная-адаптация.pdf" class="list-group-item link-icon">Социальная адаптация и основы социально-правовых знаний</a>
		<a href="/info/education/adaptProg/самоорганизация-образовательной-деятельности.pdf" class="list-group-item link-icon">Самоорганизация образовательной деятельности</a>
		<a href="/info/education/adaptProg/введение-в-профессию.pdf" class="list-group-item link-icon">Введение в профессию</a>
		<a href="/info/education/adaptProg/адаптивные-информационные-и-коммуникационные-технологии.pdf" class="list-group-item link-icon">Адаптивные информационные и коммуникационнные технологии</a>
	</div>
</div>
