
			<div id="fgos" class="list-group-item">
				<div class="list-group-item-heading">
					<h6>
						<i class="fa-book fa fa-fw fa-2x"></i>Образовательные стандарты
					</h6>
				</div>
				<div class="list-group">
					<a href="/info/education/fgosSpo/09.02.04-Информационные-системы-(по-отраслям).pdf" class="list-group-item link-icon">09.02.04 Информационные системы (по отраслям)</a>
					<a href="/info/education/fgosSpo/09.02.07-Информационные-системы-и-программирование.pdf" class="list-group-item link-icon">09.02.07 Информационные системы и программирование</a>
					<a href="/info/education/fgosSpo/13.02.03-Электроснабжение-(по-отраслям).pdf" class="list-group-item link-icon">13.02.03 Электроснабжение (по отраслям)</a>
					<a href="/info/education/fgosSpo/23.01.10-Слесарь-по-обслуживанию-и-ремонту-подвижного-состава.pdf" class="list-group-item link-icon">23.01.10 Слесарь по обслуживанию и ремонту подвижного состава</a>
					<a href="/info/education/fgosSpo/23.01.12-Слесарь-электрик-метрополитена.pdf" class="list-group-item link-icon">23.01.12 Слесарь электрик метрополитена</a>
					<a href="/info/education/fgosSpo/23.01.13-Электромонтер-тяговой-подстанции.pdf" class="list-group-item link-icon">23.01.13 Электромонтер тяговой подстанции</a>
					<a href="/info/education/fgosSpo/23.01.14-Электромонтер-устройств-сигнализации,-централизации,-блокировки-(СЦБ).pdf" class="list-group-item link-icon">23.01.14 Электромонтер устройств сигнализации, централизации, блокировки (СЦБ)</a>
					<a href="/info/education/fgosSpo/27.02.03-Автоматика-и-телемеханика-на-транспорте.pdf" class="list-group-item link-icon">27.02.03 Автоматика и телемеханика на транспорте (железнодорожном транспорте)</a>
				</div>
			</div>
