<div id="calGraph" class="list-group-item list-group-item-warning">
	<div class="list-group-item-heading">
		<h6><i class="fa-calendar-check-o fa fa-fw fa-2x"></i>Календарные графики</h6>
	</div>
	<div class="list-group">
    <a href="/info/education/kalendgraf/0902042018.pdf" class="list-group-item link-icon">09.02.04 Информационные системы (по отраслям)</a>

		<a href="#" class="list-group-item link-icon">2019</a>
       <a href="/info/education/kalendgraf/2019/090207.pdf" class="list-group-item link-icon">09.02.07 Информационные системы и программирование</a>
	     <a href="/info/education/kalendgraf/2019/130207.pdf" class="list-group-item link-icon">13.02.07 Электроснабжение (по отраслям)</a>
			 <a href="/info/education/kalendgraf/2019/270203.pdf" class="list-group-item link-icon">27.02.03 Автоматика и телемеханика на транспорте (железнодорожном транспорте)</a>
   	   <a href="/info/education/kalendgraf/2019/230110.pdf" class="list-group-item link-icon">23.01.10 Слесарь по обслуживанию и ремонту подвижного состава</a>
		   <a href="/info/education/kalendgraf/2019/230112.pdf" class="list-group-item link-icon">23.01.12 Слесарь-электрик метрополитена</a>
		   <a href="/info/education/kalendgraf/2019/230114.pdf" class="list-group-item link-icon">23.01.14 Электромонтер устройств сигнализации, централизации, блокировки (СЦБ)</a>

		<a href="#" class="list-group-item link-icon">2020</a>
		  <a href="/info/education/kalendgraf/2020/090207.pdf" class="list-group-item link-icon">09.02.07 Информационные системы и программирование</a>
	  	<a href="/info/education/kalendgraf/2020/130207.pdf" class="list-group-item link-icon">13.02.07 Электроснабжение (по отраслям)</a>
		  <a href="/info/education/kalendgraf/2020/270203.pdf" class="list-group-item link-icon">27.02.03 Автоматика и телемеханика на транспорте (железнодорожном транспорте)</a>
		  <a href="/info/education/kalendgraf/2020/230110.pdf" class="list-group-item link-icon">23.01.10 Слесарь по обслуживанию и ремонту подвижного состава</a>
		  <a href="/info/education/kalendgraf/2020/230112.pdf" class="list-group-item link-icon">23.01.12 Слесарь-электрик метрополитена</a>
		  <a href="/info/education/kalendgraf/2020/230113.pdf" class="list-group-item link-icon">23.01.13 Электромонтер тяговой подстанции</a>

	</div>
</div>
