<div id="edu-ObrProg" class="list-group-item">
	<div class="list-group-item-heading">
		<h6>
			<i class="fa-institution fa fa-fw fa-2x"></i>
			Об описании образовательной программы
		</h6>
	</div>
	<div class="list-group">
		<a href="/info/education/opisaniyaProg/230110.pdf" class="list-group-item link-icon">Профессия 23.01.10 «Слесарь по обслуживанию и ремонту подвижного состава»</a>
		<a href="/info/education/opisaniyaProg/230112.pdf" class="list-group-item link-icon">Профессия 23.01.12 «Слесарь-электрик метрополитена»</a>
		<a href="/info/education/opisaniyaProg/230113.pdf" class="list-group-item link-icon">Профессия 23.01.13 «Электромонтер тяговой подстанции»</a>
		<a href="/info/education/opisaniyaProg/230114.pdf" class="list-group-item link-icon">Профессия 23.01.14 «Электромонтер устройств сигнализации, централизации, блокировки (СЦБ)»</a>
		<a href="/info/education/opisaniyaProg/090204.pdf" class="list-group-item link-icon">Специальность 09.02.04 «Информационные системы по отраслям»</a>
		<a href="/info/education/opisaniyaProg/090207.pdf" class="list-group-item link-icon">Специальность 09.02.07 «Информационные системы и программировани»</a>
		<a href="/info/education/opisaniyaProg/130207.pdf" class="list-group-item link-icon">Специальность 13.02.07 «Электроснабжение (по отраслям)»</a>
		<a href="/info/education/opisaniyaProg/270203.pdf" class="list-group-item link-icon">Специальность 27.02.03 «Автоматика и телемеханика на транспорте (железнодорожном транспорте)»</a>

</div>
</div>
