<section class="content-section section-features video-section" id="programs">
	<!-- <div class="pattern-overlay" data-vide-bg="/video/Metro_obshii.mp4" data-vide-options="loop: false, muted: false, position: 0% 0%"> -->
	<a id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/t2my91byjR4',containment:'.video-section', quality:'720p', autoPlay:true, mute:true, opacity:1}">bg</a>
		<div class="container">
			<div class="row">
				<div class="container">
					<h2>
							<i class="fa fa-graduation-cap fa-5x big_image"></i>
							Среднее профессиональное образование с присвоением квалификации техник
					</h2>
				</div>
				<div class="row">
					<div class="col-md-4 grayblock">
						<a href="/programs/avit.html">

							<div class="card card-blue">
								<div class="icon">
									<i class="fa fa-subway fa-5x"></i>
								</div>
								<div class="text">
									<h3>Автоматика и телемеханика
										<!-- <small>на железнодорожном транспорте</small> -->
									</h3>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4  grayblock2">
						<a href="/programs/el2t.html">
							<div class="card card-yellow">
								<div class="icon">
									<i class="fa  fa-bolt fa-5x"></i>
								</div>
								<h3>
									Электроснабжение<br>
									<small>по отраслям</small>
								</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 grayblock">
						<a href="/programs/inst.html">
								<div class="card card-black">
								<div class="icon">
									<i class="fa fa-laptop fa-5x"></i>
								</div>
								<h3>
									Информационные системы<br>
									<small>по отраслям</small>
								</h3>
							</div>
						</a>
					</div>

				</div>
				<div>
					<h2>
						<i class="fa fa-university fa-5x"></i>
						Среднее профессиональное образование с присвоением рабочей квалификации
					</h2>
				</div>
				<div class="row">
					<div class="col-md-3 grayblock2">
						<a href="/programs/sem.html">

							<div class="card card-orange">
								<div class="icon">
									<i class="fa fa-wrench fa-5x"></i>
								</div>
								<h3>Слесарь-электрик<br>
									<small>метрополитена</small></h3>

							</div>
						</a>

					</div>
					<div class="col-md-3 grayblock">

						<a href="/programs/sps.html">
							<div class="card card-red">
								<div class="icon">
									<i class="fa fa-cogs fa-5x"></i>
								</div>
								<h3>Слесарь<br>
									<small>по обслуживанию и ремонту подвижного состава</small></h3>
							</div>
						</a>

					</div>
					<div class="col-md-3 grayblock2">
						<a href="/programs/etp.html">
							<div class="card card-yellow">
								<div class="icon">
									<i class="fa fa-bolt fa-5x"></i>
								</div>
								<h3>Электромонтер<br>
									<small>тяговой подстанции</small></h3>

							</div>
						</a>

					</div>
					<div class="col-md-3 grayblock">
						<a href="/programs/scb.html">

							<div class="card card-orange">
								<div class="icon">
									<i class="fa fa-chain-broken fa-5x"></i>
								</div>
								<h3>
									Электромонтер СЦБ
									<small>устройств сигнализации, централизации, блокировки</small>
								</h3>

							</div>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

<script type="text/javascript">
	$(document).ready(function () {
		$(".player").mb_YTPlayer();
	});
</script>
