<div id="edu-plans" class="list-group-item">
	<div class="list-group-item-heading">
		<h6>
			<i class="fa-institution fa fa-fw fa-2x"></i>
			Учебные планы
		</h6>
	</div>
	<div class="list-group">
		<a href="/info/education/plans/23.01.10-Слесарь-по-обслуживанию-и-ремонту-подвижного-состава.pdf" class="list-group-item link-icon">23.01.10 Слесарь по обслуживанию и ремонту подвижного состава</a>
		<a href="/info/education/plans/23.01.13-Электромонтер-тяговой-подстанции.pdf" class="list-group-item link-icon">23.01.13 Электромонтер тяговой подстанции</a>
		<a href="/info/education/plans/23.01.14-Электромонтер-устройств-СЦБ.pdf" class="list-group-item link-icon">23.01.14 Электромонтер устройств СЦБ</a>
		<a href="/info/education/plans/13.02.07-Электроснабжение-(по отраслям).pdf" class="list-group-item link-icon">13.02.07 Электроснабжение (по отраслям)</a>
		<a href="/info/education/plans/09.02.04-Информационные-системы-(по отраслям).pdf" class="list-group-item link-icon">09.02.04 Информационные системы (по отраслям)</a>
		<a href="/info/education/plans/27.02.03-Автоматика-и-телемеханика-на-транспорте.pdf" class="list-group-item link-icon">27.02.03 Автоматика и телемеханика на транспорте</a>
	</div>
</div>
