<div id="calGraph" class="list-group-item list-group-item-warning">
	<div class="list-group-item-heading">
		<h6><i class="fa-calendar-check-o fa fa-fw fa-2x"></i>Календарные графики</h6>
	</div>
	<div class="list-group">
    <a href="/info/education/kalendgraf/09.02.04-Информационные-системы-(по-отраслям)-2018.pdf" class="list-group-item link-icon">09.02.04 Информационные системы (по отраслям)</a>

		<a href="#" class="list-group-item link-icon">2019</a>
       <a href="/info/education/kalendgraf/2019/09.02.07-Информационные-системы-и-программирование.pdf" class="list-group-item link-icon">09.02.07 Информационные системы и программирование</a>
	     <a href="/info/education/kalendgraf/2019/13.02.07-Электроснабжение-(по-отраслям).pdf" class="list-group-item link-icon">13.02.07 Электроснабжение (по отраслям)</a>
			 <a href="/info/education/kalendgraf/2019/27.02.03-Автоматика-и-телемеханика-на-транспорте-(железнодорожном-транспорте).pdf" class="list-group-item link-icon">27.02.03 Автоматика и телемеханика на транспорте (железнодорожном транспорте)</a>
   	   <a href="/info/education/kalendgraf/2019/23.01.10-Слесарь-по-обслуживанию-и-ремонту-пождвижного-состава.pdf" class="list-group-item link-icon">23.01.10 Слесарь по обслуживанию и ремонту подвижного состава</a>
		   <a href="/info/education/kalendgraf/2019/23.01.12Слесарьэлектрикметрополитена.pdf" class="list-group-item link-icon">23.01.12 Слесарь-электрик метрополитена</a>
		   <a href="/info/education/kalendgraf/2019/23.01.14-Электромонтер-устройств-сигнализации-централизации-блокировки-(СЦБ).pdf" class="list-group-item link-icon">23.01.14 Электромонтер устройств сигнализации, централизации, блокировки (СЦБ)</a>

		<a href="#" class="list-group-item link-icon">2020</a>
		  <a href="/info/education/kalendgraf/2020/09.02.07-Информационные-системы-и-программирование.pdf" class="list-group-item link-icon">09.02.07 Информационные системы и программирование</a>
	  	<a href="/info/education/kalendgraf/2020/13.02.07-Электроснабжение-(по-отраслям).pdf" class="list-group-item link-icon">13.02.07 Электроснабжение (по отраслям)</a>
		  <a href="/info/education/kalendgraf/2020/27.02.03-Автоматика-и-телемеханика-на-транспорте-(железнодорожном-транспорте).pdf" class="list-group-item link-icon">27.02.03 Автоматика и телемеханика на транспорте (железнодорожном транспорте)</a>
		  <a href="/info/education/kalendgraf/2020/23.01.10-Слесарь-по-обслуживанию-и-ремонту-подвижного-состава.pdf" class="list-group-item link-icon">23.01.10 Слесарь по обслуживанию и ремонту подвижного состава</a>
		  <a href="/info/education/kalendgraf/2020/23.01.12-Слесарь-электрик-метрополитена.pdf" class="list-group-item link-icon">23.01.12 Слесарь-электрик метрополитена</a>
		  <a href="/info/education/kalendgraf/2020/23.01.13-Электромонтер-тяговой-подстанции.pdf" class="list-group-item link-icon">23.01.13 Электромонтер тяговой подстанции</a>

	</div>
</div>
