<div id="main-info" class="panel panel-info">
	<div class="panel-heading">
		<h4>Основные сведения</h4>
	</div>
	<table class="table table-bordered table-striped table-responsive table-row-height">
		<tbody>
			<tr class="active">
				<th><i class="fa-home fa fa-fw fa-2x"></i>Название ОУ</th>
				<td><a href="http://bus.gov.ru/pub/agency/163194?activeTab=1">САНКТ-ПЕТЕРБУРГСКОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ "КОЛЛЕДЖ МЕТРОПОЛИТЕНА", ИНН 7816041340, КПП 781601001, ОКПО 02514401, ОГРН 1027807988427</a></td>
			</tr>
			<tr>
				<th><i class="fa-map fa fa-fw fa-2x"></i>Адрес</th>
				<td><a href="/#map">192281, Санкт-Петербург, Купчинская ул., д 28 литер А</a></td>
			</tr>
			<tr class="active">
				<td><i class="fa fa-fw fa-vcard-o fa-2x"></i> </td>
				<td><a href="/#contacts"><h4 class="uppercase">Контактные телефоны</h4></a></td>
			</tr>
			<tr>
				<th><i class="fa-calendar-o fa fa-fw fa-2x"></i>График работы</th>
				<td>

						<ul class="list-group">
							<li class="list-group-item">Понедельник-Пятница <span class="label-primary label">с 8:30 до 17:00</span></li>
							<li class="list-group-item">Субота,Воскресенье <span class="label label-primary">выходной</span></li>
							<li class="list-group-item">Пятидневная рабочая неделя</li>
						</ul>
				</td>
			</tr>
			<tr>
				<th><i class="fa-map-marker fa fa-fw fa-2x"></i>Дата создания</th>
				<td><a href="/pages/history.html">02 сентября 1974</a></td>
			</tr>
			<tr>
				<th><i class="fa-language fa fa-fw fa-2x"></i>Язык образования</th>
				<td class="info">русский</td>
			</tr>
			<tr>
				<th><i class="fa-calendar-check-o fa fa-fw fa-2x"></i>Форма обучения</th>
				<td>очная (дневная)</td>
			</tr>

		<tr>
			<th><i class="fa-clock-o fa fa-fw fa-2x"></i>режим работы</th>
			<td>
					<h5>

						с 01.09.2017 г. по 30.06.2018 г.
						<small>(2017-2018 учебный год)</small>
					</h5>
					<ul class="list-group">
						<li class="list-group-item"><h6>Зимние каникулы: с 30.12.2017 г. по 12.01.2018 г.</h6></li>
						<li class="list-group-item"><h6>Летние каникулы: с 01.07.2018 г. по 31.08.2018 г.</h6></li>

					</ul>






				</td>
		</tr>

			<tr class="info">
				<th><i class="fa-file-text fa fa-fw fa-2x"></i>Лицензия</th>
				<td><a class="link-icon" href="/info/Лицензия.pdf">Серия 78Л01 № 0001052 Рег.№ 1030 от 16 июня 2014 г.</a></td>
			</tr>
			<tr class="info">
				<th><i class="fa-file-o fa fa-fw fa-2x"></i>Аккредитация</th>
				<td><a class="link-icon" href="/info/accreditation2016.pdf">Серия 78A01 № 0000640 Рег. № 1318 от 31 мая 2016 г. до 31 мая 2022 г.</a></td>
			</tr>

			<!-- <tr>
				<th>Стипендии и иные виды материальной поддержки</th>
				<td>
				 <a class="link-icon" href="ПОЛОЖЕНИЕ-о-назначении-стипендии-и-иных-мерах-стимулирования-и-материальной-поддержки-студентов.pdf">О наличии и условиях предоставления обучающимся стипендий, мер социальной поддержки</a>
				<a href="/info/education/polojenia/о-мерах-стимулирования-и-иных-мерах-материальной-поддержки-студентов.pdf" class="link-icon">Положение о мерах стимулирования и иных мерах материальной поддержки студентов</a>

				</td>
			</tr>
			<tr class="warning">
				<th>Общежитие</th>
				<td>отсутствует</td>
			</tr>
			<tr class="warning">
				<th>Интернат</th>
				<td>отсутствует</td>
			</tr> -->
			<tr class="warning">
				<th><i class="fa-university fa fa-fw fa-2x"></i>Филиалы</th>
				<td>отсутствуют</td>
			</tr>
			 <tr>
					<th><i class="fa-level-up fa fa-fw fa-2x"></i>Уровень, форма, нормативный срок</th>
					<td>
							<ul class="list-group">
								<li class="list-group-item">Программа подготовки квалифицированных рабочих, служащих на базе основоного общего образования. Форма обучения – очная. Срок обучения – 2 года 10 месяцев</li>
								<li class="list-group-item">Программа подготовки специалиста среднего звена на базе основоного общего образования. Форма обучения – очная. Срок обучения – 3 года 10 месяцев</li>
							</ul>

							<i>* после 9 класса</i>
					</td>
				</tr>

			<tr class="success">
				<th><i class="fa-graduation-cap fa fa-fw fa-2x"></i>Учредитель</th>

				<td>
					<a href="http://k-obr.spb.ru/">
							<img class="img-responsive" src="/img/_kobr.logo.gif" alt="Комитет по образованию Санкт-Петербурга">
							<small>Адрес: 190000, Санкт-Петербург, пер. Антоненко, д. 8</small>
					</a>
					<a href="http://xn--80abucjiibhv9a.xn--p1ai/"><img src="http://xn--80abucjiibhv9a.xn--p1ai/static/img/banner/rect.gif" alt="Министерство образования и науки Российской Федерации">
					</a>


				</td>
			</tr>

		</tbody>
	</table>
</div>
