		<div id="money" class="list-group-item">
			<div class="list-group-item-heading">
				<h6><i class="fa fa-fw fa-2x fa-rocket" aria-hidden="true"></i>
					Стипендии и иные виды материальной поддержки</h6>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<div class="list-group-item-heading">
						<h6>
							<i class="fa-hotel fa fa-fw fa-2x"></i>
							Интернат:
							<small class="label label-warning">отсутствует</small>
						</h6>
					</div>
				</div>
				<div class="list-group-item">
					<div class="list-group-item-heading">
						<h6>
							<i class="fa-building-o fa fa-fw fa-2x"></i>
							Общежитие
							<small class="label-warning label">отсутствует</small>
						</h6>
					</div>
				</div>
				<a href="/info/education/polojenia/о-мерах-стимулирования-и-иных-мерах-материальной-поддержки-студентов.pdf" class="list-group-item link-icon">Положение о мерах стимулирования и иных мерах материальной поддержки студентов</a>

			</div>
		</div>
