<div id="links" class="list-group-item">
	<div class="list-group-item-heading">
		<h6><i class="fa fa-fw fa-2x fa-globe" aria-hidden="true"></i> Ссылки на   информационно-образовательные ресурсы</h6>
	</div>
	<div class="list-group">
		<a class="list-group-item" href="http://www.mon.gov.ru"><i class="fa fa-fw fa-external-link" aria-hidden="true"></i> Официальный сайт Министерства образования и науки Российской Федерации</a>
		<a class="list-group-item" href="http://k-obr.spb.ru/"><i class="fa fa-fw  fa-external-link" aria-hidden="true"></i> Информационный портал Комитета по образованию Санкт-Петербурга</a>
		<a class="list-group-item" href="http://www.edu.ru"><i class="fa fa-fw  fa-external-link" aria-hidden="true"></i> Федеральный портал “Российское образование”</a>
		<a class="list-group-item" href="http://window.edu.ru"><i class="fa fa-fw  fa-external-link" aria-hidden="true"></i> Информационная система “Единое окно доступа к образовательным ресурсам”</a>
		<a class="list-group-item" href="http://school-collection.edu.ru"><i class="fa fa-fw  fa-external-link" aria-hidden="true"></i> Единая коллекция цифровых образовательных ресурсов</a>
		<a class="list-group-item" href="http://fcior.edu.ru"><i class="fa fa-fw  fa-external-link" aria-hidden="true"></i>Федеральный центр информационно-образовательных ресурсов</a>
	</div>
</div>
