	<div class="list-group-item">
		<div id="vacant" class="panel panel-success">
			<div class="panel-heading">
				<h6>Вакантные места для приема (перевода)</h6>
			</div>
			<ul class="list-group">
				<li class="list-group-item"><span class="badge success">8 мест</span>
					15.01.25 Станочник (металлообработка)
				</li>
				<li class="list-group-item"><span class="badge info">2 места</span>
					23.01.10 Слесарь по обслуживанию и ремонту подвижного состава
				</li>
				<li class="list-group-item"><span class="badge success">6 мест</span>
					23.01.12  Слесарь-электрик метрополитена
				</li>
				<li class="list-group-item"><span class="badge info">3 места</span>
					23.01.13  Электромонтер тяговой подстанции
				</li>
				<li class="list-group-item"><span class="badge warning">1 место</span>
					23.01.14 Электромонтер устройств сигнализации, централизации, блокировки (СЦБ)
				</li>
				<li class="list-group-item"><span class="badge danger">0  мест</span>
					27.02.03 Автоматика и телемеханика на транспорте (железнодорожном транспорте)
				</li>
				<li class="list-group-item"><span class="badge danger">0  мест</span>
					13.02.07 Электроснабжение (по отраслям)
				</li>
				<li class="list-group-item"><span class="badge danger">0  мест</span>
					09.02.04 Информационные системы (по отраслям)
				</li>

		</div>
	</div>
