<nav class="navbar  bs-docs-sidebar"  id="nav-left">

	<ul class="nav nav-pills nav-stacked affix fixed" data-spy="affix" data-offset-top="100" data-offset-bottom="200">
		<li><a href="#main-info" class="uppercase"><i class="fa-home fa fa-fw"></i>Основные сведения</a></li>
		<li><a href="#structure"><i class="fa fa-fw fa-sitemap"></i>Cтруктура и органы управления колледжа</a></li>
		<li><a href="#doc" ><i class="fa fa-fw fa-server"></i>Документы</a>
			<ul class="nav nav-stacked">
				<li><a href="#doc1" ><i class="fa fa-fw fa-hand-o-up"></i>Локальные акты</a></li>
				<li><a href="#doc2" ><i class="fa fa-fw fa-handshake-o"></i>Соглашения</a></li>
				<li><a href="#reglaments" ><i class="fa fa-fw fa-pagelines"></i>Регламенты</a></li>
				<li><a href="#doc3" ><i class="fa fa-fw fa-hand-o-down"></i>Предписания органов, осуществляющих государственный контроль (надзор) в сфере образования</a></li>

			</ul>
		</li>
		<!-- <li><a href="#roads" ><i class="fa fa-fw fa-road"></i>Дорожная безопасность детей</a></li> -->
		<li><a href="#edu" ><i class="fa fa-fw fa-graduation-cap"></i>Образование</a>
			<ul  class="nav nav-stacked">
				<li><a href="#edu-programs"><i class="fa fa-fw fa-university"></i>Перечень образовательных программ  с указанием учебных предметов, курсов, дисциплин, модулей, практик</a></li>
				<li><a href="#edu-plans"><i class="fa fa-fw fa-book"></i>Учебные планы</a></li>
				<li><a href="#calGraph"><i class="fa fa-fw fa-calendar-check-o"></i>Календарные графики</a></li>
				<li><a href="#student-count"><i class="fa fa-fw fa-users"></i>О числености обучающихся по реализуемым образовательным программам</a></li>
				<li><a href="#edu1"><i class="fa fa-fw fa-info-circle"></i>Аннотации к рабочим программам дисциплин</a>
					<ul class="nav nav-stacked">
						<li><a href="#eduAnot1"><i class="fa fa-fw fa-graduation-cap"></i>15.01.25 Станочник</a></li>
						<li><a href="#eduAnot2"><i class="fa fa-fw fa-graduation-cap"></i>23.01.10 Слесарь по обслуживанию и ремонту подвижного состава</a></li>
						<li><a href="#eduAnot3"><i class="fa fa-fw fa-graduation-cap"></i>23.01.12 Слесарь-электрик метрополитена</a></li>
						<li><a href="#eduAnot4"><i class="fa fa-fw fa-graduation-cap"></i>23.01.13 Электромонтер тяговой подстанции</a></li>
						<li><a href="#eduAnot5"><i class="fa fa-fw fa-graduation-cap"></i>23.01.14 Электромонтер устройств сигнализации, централизации, блокировки (СЦБ)</a></li>
						<li><a href="#eduAnot6"><i class="fa fa-fw fa-graduation-cap"></i>Общеобразовательный цикл профессии</a></li>
						<li><a href="#eduAnot7"><i class="fa fa-fw fa-graduation-cap"></i>Общеобразовательный цикл специальности</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="#fgos"><i class="fa fa-fw fa-search-plus"></i>Федеральные государственные образовательные стандарты</a></li>
		<li><a href="#social"><i class="fa fa-fw fa-users"></i>Руководство. Педагогический состав</a></li>
		<li><a href="#machines"><i class="fa fa-fw fa-compress"></i>Материально-техническое обеспечение</a>
			<ul class="nav  nav-stacked">
				<li><a href="#cabinets"><i class="fa-fw"></i>Кабинеты</a></li>
				<li><a href="#tech"><i class="fa-fw"></i>Техническое обеспечение</a></li>
			</ul>
		</li>
		<li><a href="#money"><i class="fa fa-fw fa-money"></i>Стипендии и иные виды материальной поддержки</a></li>
		<li><a href="#paymentEdu"><i class="fa fa-fw fa-money"></i>Платные образовательные услуги</a></li>

		<li><a href="#finance"><i class="fa fa-fw fa-info-circle"></i>Финансово-хозяйственная деятельность</a></li>
		<li><a href="#vacant" ><i class="fa fa-fw fa-hand-peace-o"></i>Вакантные места для приема (перевода)</a></li>

		<!-- <li><a href="#links"><i class="fa fa-fw fa-globe"></i>Ссылки на   информационно-образовательные ресурсы</a></li> -->
		<!-- <li><a href="#razvitie"><i class="fa fa-fw fa-space-shuttle"></i>Программа развития на 2016-2020</a></li> -->
	</ul>
</nav>
