<div id="reglaments" class="list-group-item">
	<div class="list-group-item-heading">
		<h6><i class="fa-money fa-2x fa fa-fw"></i>Финансово-хозяйственная деятельность</h6>
	</div>
	<div class="list-group">
		<a class="link-icon list-group-item" href="/info/public-otchet2017.pdf">Публичный доклад о результатах деятельности в 2015-2016 учебном году</a>

		<a class="link-icon list-group-item" href="/info/reg_inf_zachisl.pdf">Регламент	по предоставлению информации о результатах вступительных испытаний,
					а также о зачислении в государственные профессиональные образовательные учреждения,
					находящиеся в ведении Комитета по образованию</a>

			<a class="link-icon list-group-item" href="/info/reg_if_prog_spo.pdf">
						Регламент по предоставлению информации о реализации программ среднего профессионального
						 образования по очной форме обучения, а также дополнительных профессиональных образовательных программах
			</a>
	</div>
</div>
