<div id="cooperation" class="list-group-item">
	<div class="list-group-item-heading">
		<h6><i class="fa-money fa-2x fa fa-fw"></i>Сотрудничество</h6>
	</div>
	<div class="list-group">
		<a class="link-icon list-group-item" href="/info/soglasheniye-metro.pdf">Санкт-Петербургское государственное унитарное предприятие «Петербургский метрополитен»</a>
		<a class="link-icon list-group-item" href="/info/dogovor-klaster.pdf">Некоммерческое партнёрство Инновационно-промышленный кластер транспортного машиностроения «Метрополитены и железнодорожная техника»</a>
		<a class="link-icon list-group-item" href="/info/soglasheniye-tsstv.pdf">Санкт-Петербургское государственное автономное учреждение «Центр занятости населения Санкт-Петербурга»</a>
		<a class="link-icon list-group-item" href="/info/soglasheniye-ktk.pdf">Межрегиональное сотрудничество: Государственное бюджетное профессиональное образовательное учреждение «Ковровский транспортный колледж»</a>
		<a class="link-icon list-group-item" href="/info/soglasheniye-appo.pdf">Государственное бюджетное учреждение дополнительного профессионального образования Санкт-Петербургская академия постдипломного педагогического образования (СПБ АППО)</a>

	</div>
</div>
