<div id="finance" class="list-group-item">
	<div class="list-group-item-heading">
		<h6><i class="fa-money fa-2x fa fa-fw"></i>Финансово-хозяйственная деятельность</h6>
	</div>
	<div class="list-group">
		<a class="link-icon list-group-item" href="/info/finance-results2017.pdf">Публичный доклад о результатах деятельности за 2017 финансовый год</a>
		<a class="link-icon list-group-item" href="/info/fin2018.pdf">Поступление и расходование финансовых средств</a>
		<a class="link-icon list-group-item" href="/info/otchet-rez-deyatelnosti.pdf">Отчет о результатах деятельность СПб ГБПОУ "Колледж метрополитена" и об использовании закрепленного за ним государственного имущества</a>
    <a class="link-icon list-group-item" href="/info/dc4.pdf">Соглашение № 4 о предоставлении из бюджета Санкт-Петербурга субсидий на финансовое обеспечение выполнения государственного задания</a>
		<a class="link-icon list-group-item" href="/info/dc2-3.pdf">Дополнительное соглашение № 2-3 о предоставлении из бюджета Санкт-Петербурга субсидий на иные цели</a>
		<a class="link-icon list-group-item" href="/info/dc2.pdf">Cоглашение № 2 о предоставлении из бюджета Санкт-Петербурга субсидий на иные цели</a>
		<a class="link-icon list-group-item" href="/info/dogovor2018.pdf">Форма договора об оказании платных образовательных услуг</a>
		<a class="link-icon list-group-item" href="/info/4354.pdf">Постановление № 706 Об утверждении правил оказания платных образовательных услуг</a>
		<a class="link-icon list-group-item" href="/info/politika2019buhifin.pdf">Учетная политика для целей бухгалтерского и налогового учета на 2019 год</a>

		</div>
</div>
