		<div id="money" class="list-group-item">
			<div class="list-group-item-heading">
				<h6><i class="fa fa-fw fa-2x fa-rocket" aria-hidden="true"></i>
					Стипендии и иные виды материальной поддержки</h6>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<div class="list-group-item-heading">
						<h6>
							<i class="fa-hotel fa fa-fw fa-2x"></i>
							Интернат:
							<small class="label label-warning">отсутствует</small>
						</h6>
					</div>
				</div>
				<div class="list-group-item">
					<div class="list-group-item-heading">
						<h6>
							<i class="fa-building-o fa fa-fw fa-2x"></i>
							Общежитие
							<small class="label-warning label">отсутствует</small>
						</h6>
					</div>
				</div>
				<a href="/info/education/polojenia/о-мерах-стимулирования-и-иных-мерах-материальной-поддержки-студентов.pdf" class="list-group-item link-icon">Положение о мерах стимулирования и иных мерах материальной поддержки студентов</a>
				<div class="list-group-item">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6>
								<i class="fa-share-alt fa fa-2x fa-fw"></i>
								Распределение выпускников
							</h6>
						</div>
						<table class="table table-bordered table-striped table-reflow table-responsive">
							<tr>	<tr>
								<th class="active">Профессия</th>
								<th class="success">Всего выпускников</th>
								<th class="warning">Трудоустроенны</th>
								<th class="info">Высшее образование</th>
								<th class="danger">Призваны в РА</th>
							</tr>
							<tr>
								<th>09.01.03 Мастер по обработке цифровой информации</th>
								<td>25</td>
								<td>19</td>
								<td>1</td>
								<td>5</td>
							</tr>
							<tr>
								<th>15.01.25 Станочник (металлообработка)</th>
								<td>18</td>
								<td>14</td>
								<td>0</td>
								<td>4</td>
							</tr>
							<tr>
								<th>23.01.10 Слесарь по обслуживанию и ремонту подвижного состава</th>
								<td>21</td>
								<td>11</td>
								<td>0</td>
								<td>10</td>
							</tr>
							<tr>
								<th>23.01.12 Слесарь-электрик метрополитена</th>
								<td>22</td>
								<td>13</td>
								<td>0</td>
								<td>9</td>
							</tr>
							<tr>
								<th>23.01.13 Электромонтер тяговой подстанции</th>
								<td>19</td>
								<td>14</td>
								<td>0</td>
								<td>5</td>
							</tr>
							<tr>
								<th>23.01.14 Электромонтер устройств сигнализации, централизации, блокировки (СЦБ)</th>
								<td>21</td>
								<td>16</td>
								<td>2</td>
								<td>3</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
