
<section>
		<h5>
		</h5>
</section>
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title text-center">
			<a href="/info/zachisl2017.pdf"><i class="fa-th-list fa fa-2x"></i>Приказ о зачислении</a>
		</h3>
	</div>
</div>
<!--
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title text-center">
			<a href="#list2017" data-toggle="collapse">
					<i class="fa-th-list fa fa-2x"></i>
					Списки рекомендованных к зачислению
			</a>
    </h3>
  </div>
	<div id="list2017" class="panel-collapse collapse">

		<h3>Слесарь по ремонту подвижного состава <span class="label label-primary pull-right">группа #126</span></h3>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>
						#
					</th>
					<th>
						Ф.И.О.
					</th>
					<th>
						Средний бал
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						1
					</td>
					<td>
						Чекалдин
						Дмитрий Викторович
					</td>
					<td>
						4,0
					</td>
				</tr>
				<tr>
					<td>
						2
					</td>
					<td>
						Медин
						Олег Дмитриевич
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						3
					</td>
					<td>
						Тимофеев
						Александр Юрьевич
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						4
					</td>
					<td>
						Петров
						Сергей Валерьевич
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						5
					</td>
					<td>
						Беляев
						Дмитрий Дмитриевич
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						7
					</td>
					<td>
						Еситников
						Алексей Владимирович
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						8
					</td>
					<td>
						Кораблев
						Андрей Дмитриевич
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						9
					</td>
					<td>
						Уржумцев
						Леонид Дмитриевич
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						10
					</td>
					<td>
						Бернер
						Кирилл Сергеевич
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						11
					</td>
					<td>
						Павел
						Валерий Валериянович
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						12
					</td>
					<td>
						Хабаров
						Руслан Романович
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						13
					</td>
					<td>
						Ходаковский
						Владимир Александрович
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						14
					</td>
					<td>
						Бородин
						Александр Александрович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						15
					</td>
					<td>
						Горбачев
						Илья Валерьевич
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						16
					</td>
					<td>
						Ковалев
						Александр Леонидович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						17
					</td>
					<td>
						Лисицын
						Николай Павлович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						18
					</td>
					<td>
						Михальцов
						Артем Александрович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						19
					</td>
					<td>
						Новиков
						Антон Александрович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						20
					</td>
					<td>
						Ширяев
						Иван Игоревич
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						21
					</td>
					<td>
						Лаптев
						Денис Романович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						22б
					</td>
					<td>
						Логин
						Кирилл Викторович
					</td>
					<td>
						3,4
					</td>
				</tr>
				<tr>
					<td>
						23
					</td>
					<td>
						Овчинников
						Максим Юрьевич
					</td>
					<td>
						3,4
					</td>
				</tr>
				<tr>
					<td>
						24
					</td>
					<td>
						Хорошилов
						Игорь Александрович
					</td>
					<td>
						3,4
					</td>
				</tr>
				<tr>
					<td>
						25
					</td>
					<td>
						Смирнов
						Андрей Викторович
					</td>
					<td>
						3,3
					</td>
				</tr>
			</tbody>
		</table>

		<h3>Электромонтер СЦБ <span class="label label-primary pull-right">группа #127</span></h3>
		<table class="table table-bordered table-striped table-hover">
			<tbody>
				<tr>
					<td>
						#
					</td>
					<td>
						Ф.И.О.
					</td>
					<td>
						Средний бал
					</td>
				</tr>
				<tr>
					<td>
						1
					</td>
					<td>
						Гользицкий
						Никита Алексеевич
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						2
					</td>
					<td>
						Дуненков
						Денис Андреевич
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						3
					</td>
					<td>
						Тарасов
						Дмитрий Константинович
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						4
					</td>
					<td>
						Гульбанов
						Дмитрий Денисович
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						5
					</td>
					<td>
						Ермолаев
						Лев Дмитриевич
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						6
					</td>
					<td>
						Максименков
						Виталий Алексеевич
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						7
					</td>
					<td>
						Тракинер
						Даниил Маркович
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						8
					</td>
					<td>
						Гавриленко
						Дмитрий Константинович
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						9
					</td>
					<td>
						Данилов
						Данила Владимирович
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						10
					</td>
					<td>
						Курочкин
						Александр Витальевич
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						11
					</td>
					<td>
						Мартьянов
						Иван Денисович
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						12
					</td>
					<td>
						Машрабов
						Ильдар Ильёсович
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						13
					</td>
					<td>
						Носков
						Евгений Андреевич
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						14
					</td>
					<td>
						Ходаков
						Михаил Сергеевич
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						15
					</td>
					<td>
						Чубриков
						Игорь Андреевич
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						16
					</td>
					<td>
						Борминский
						Дмитрий Алексеевич
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						17
					</td>
					<td>
						Енокян
						Аваг Сашаевич
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						18
					</td>
					<td>
						Зрячих
						Матвей Олегович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						19
					</td>
					<td>
						Латышев
						Кирилл Дмитриевич
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						20
					</td>
					<td>
						Михно
						Никита Артемович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						21
					</td>
					<td>
						Морев
						Артур Максимович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						22
					</td>
					<td>
						Волков
						Дмитрий Сергеевич
					</td>
					<td>
						3,4
					</td>
				</tr>
				<tr>
					<td>
						23
					</td>
					<td>
						Ковшиков
						Дмитрий Евгеньевич
					</td>
					<td>
						3,4
					</td>
				</tr>
				<tr>
					<td>
						24
					</td>
					<td>
						Смирнов
						Олег Алексеевич
					</td>
					<td>
						3,4
					</td>
				</tr>
				<tr>
					<td>
						25
					</td>
					<td>
						Томин
						Максим Игоревич
					</td>
					<td>
						3,4
					</td>
				</tr>
			</tbody>
		</table>

		<h3>Электромонтёр тяговой подстанции<span class="label label-primary pull-right">группа #128</span></h3>
		<table class="table table-bordered table-striped table-hover">
			<tbody>
				<tr>
					<td>
						#
					</td>
					<td>
						Ф.И.О.
					</td>
					<td>
						Средний бал
					</td>
				</tr>
				<tr>
					<td>
						1
					</td>
					<td>
						Емуранов
						Сергей Алексеевич
					</td>
					<td>
						4,0
					</td>
				</tr>
				<tr>
					<td>
						2
					</td>
					<td>
						Васильев
						Лев Романович
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						3
					</td>
					<td>
						Дмитриев
						Вячеслав Николаевич
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						4
					</td>
					<td>
						Еремкин
						Александр Сергеевич
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						5
					</td>
					<td>
						Кутузов
						Иван Иванович
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						6
					</td>
					<td>
						Романов
						Павел Андреевич
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						7
					</td>
					<td>
						Гончаров
						Даниил Александрович
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						8
					</td>
					<td>
						Катаев
						Дмитрий Владимирович
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						9
					</td>
					<td>
						Озерной
						Михаил Валерьевич
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						10
					</td>
					<td>
						Петухов
						Кирилл Алексеевич
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						11
					</td>
					<td>
						Иванов
						Алексей Владимирович
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						12
					</td>
					<td>
						Иванов
						Александр Сергеевич
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						13
					</td>
					<td>
						Орлов
						Савелий Дмитриевич
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						14
					</td>
					<td>
						Белов
						Алексей Николаевич
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						15
					</td>
					<td>
						Бордунов
						Данила Михайлович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						16.
					</td>
					<td>
						Иванов
						Дмитрий Станиславович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						17
					</td>
					<td>
						Мокану
						Дэнуц
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						18
					</td>
					<td>
						Нестеров
						Алексей Сергеевич
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						19
					</td>
					<td>
						Нестор
						Дмитрий Андреевич
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						20
					</td>
					<td>
						Пушков
						Виктор Александрович
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						21
					</td>
					<td>
						Силин
						Даниил Сергеевич
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						22
					</td>
					<td>
						Слюнин
						Савелий Витальевич
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						23
					</td>
					<td>
						Блохин
						Максим Гафурович
					</td>
					<td>
						3,4
					</td>
				</tr>
				<tr>
					<td>
						24
					</td>
					<td>
						Гусев
						Михаил Александрович
					</td>
					<td>
						3,4
					</td>
				</tr>
				<tr>
					<td>
						25
					</td>
					<td>
						Черноморец
						Даниил Сергеевич
					</td>
					<td>
						3,3
					</td>
				</tr>
			</tbody>
		</table>

		<h3>Автоматика и телемеханика на транспорте<span class="label label-primary pull-right">группа #129</span></h3>
		<table class="table table-bordered table-striped table-hover">
			<tbody>
				<tr>
					<td>
						#
					</td>
					<td>
						Ф.И.О.
					</td>
					<td>
						Средний бал
					</td>
				</tr>
				<tr>
					<td>
						1
					</td>
					<td>
						Самхат
						Набиль Тайсирович
					</td>
					<td>
						4,5
					</td>
				</tr>
				<tr>
					<td>
						2
					</td>
					<td>
						Воробьев
						Павел Леонидович
					</td>
					<td>
						4,4
					</td>
				</tr>
				<tr>
					<td>
						3
					</td>
					<td>
						Куклин
						Вячеслав Сергеевич
					</td>
					<td>
						4,4
					</td>
				</tr>
				<tr>
					<td>
						4
					</td>
					<td>
						Воловатов
						Даниил Денисович
					</td>
					<td>
						4,3
					</td>
				</tr>
				<tr>
					<td>
						5
					</td>
					<td>
						Пашинов
						Никита Юрьевич
					</td>
					<td>
						4,3
					</td>
				</tr>
				<tr>
					<td>
						6
					</td>
					<td>
						Петров
						Данила Сергеевич
					</td>
					<td>
						4,2
					</td>
				</tr>
				<tr>
					<td>
						7
					</td>
					<td>
						Потоцкий
						Александр Сергеевич
					</td>
					<td>
						4,2
					</td>
				</tr>
				<tr>
					<td>
						8
					</td>
					<td>
						Соболев
						Максим Валерьевич
					</td>
					<td>
						4,2
					</td>
				</tr>
				<tr>
					<td>
						9
					</td>
					<td>
						Ярославцев
						Дмитрий Алексеевич
					</td>
					<td>
						4,2
					</td>
				</tr>
				<tr>
					<td>
						10
					</td>
					<td>
						Букатов
						Никита Александрович
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						11
					</td>
					<td>
						Кузиков
						Андрей Андреевич
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						12
					</td>
					<td>
						Москалев
						Владислав Алексеевич
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						13
					</td>
					<td>
						Пазгалов
						Сергей Анатольевич
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						14
					</td>
					<td>
						Пустовалов
						Виктор Андреевич
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						15
					</td>
					<td>
						Рамазанов
						Роман Мурадович
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						16
					</td>
					<td>
						Севастьянов
						Артём Дмитриевич
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						17
					</td>
					<td>
						Царев
						Александр Вадимович
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						18
					</td>
					<td>
						Иванов
						Дмитрий Александрович
					</td>
					<td>
						4,0
					</td>
				</tr>
				<tr>
					<td>
						19
					</td>
					<td>
						Петровских
						Всеволод Иванович
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						20
					</td>
					<td>
						Степанов
						Кирилл Алексеевич
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						21
					</td>
					<td>
						Гусев
						Александр Александрович
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						22
					</td>
					<td>
						Кожин
						Роман Эдуардович
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						23
					</td>
					<td>
						Шукшин
						Никита Николаевич
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						24
					</td>
					<td>
						Агамагомедов
						Абзер Якубович
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						25
					</td>
					<td>
						Малов
						Денис Владимирович
					</td>
					<td>
						3,7
					</td>
				</tr>
			</tbody>
		</table>

		<h3>Электроснабжение на транспорте<span class="label label-primary pull-right">группа #130</span></h3>
		<table class="table table-bordered table-striped table-hover">
			<tbody>
				<tr>
					<td>
						#
					</td>
					<td>
						Ф.И.О.
					</td>
					<td>
						Средний бал

					</td>
				</tr>
				<tr>
					<td>
						1
					</td>
					<td>
						Прокофьев
						Сергей Анатольевич
					</td>
					<td>
						4,7
					</td>
				</tr>
				<tr>
					<td>
						2
					</td>
					<td>
						Полянский
						Иван Александрович
					</td>
					<td>
						4,5
					</td>
				</tr>
				<tr>
					<td>
						3
					</td>
					<td>
						Нечипорук
						Вячеслав Андреевич
					</td>
					<td>
						4,3
					</td>
				</tr>
				<tr>
					<td>
						4
					</td>
					<td>
						Солодков
						Михаил Вячеславович
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						5
					</td>
					<td>
						Смирнов
						Никита Сергеевич
					</td>
					<td>
						4,0
					</td>
				</tr>
				<tr>
					<td>
						6
					</td>
					<td>
						Эрмес Уулу
						Эрсултан
					</td>
					<td>
						4,0
					</td>
				</tr>
				<tr>
					<td>
						7
					</td>
					<td>
						Протасевич
						Денис Викторович
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						8
					</td>
					<td>
						Пугачёв
						Андрей Олегович
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						9
					</td>
					<td>
						Бородин
						Тимофей Александрович
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						10
					</td>
					<td>
						Льнявин
						Максим Алексеевич
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						11
					</td>
					<td>
						Макаров
						Даниил Алексеевич
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						12
					</td>
					<td>
						Миндрахманов
						Рустам Ришатович
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						13
					</td>
					<td>
						Николаев
						Дмитрий Максимович
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						14
					</td>
					<td>
						Шариков
						Иван Денисович
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						15
					</td>
					<td>
						Шемякин
						Артём Дмитриевич
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						16
					</td>
					<td>
						Жариков
						Артем Витальевич
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						17
					</td>
					<td>
						Зверев
						Кирилл Алексеевич
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						18
					</td>
					<td>
						Макаров
						Степан Александрович
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						19
					</td>
					<td>
						Румянцев
						Александр Павлович
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						20
					</td>
					<td>
						Беляев
						Владислав Сергеевич
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						21
					</td>
					<td>
						Зуев
						Петр Дмитриевич
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						22
					</td>
					<td>
						Потапов
						Денис Сергеевич
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						23
					</td>
					<td>
						Садиков
						Марк Александрович
					</td>
					<td>
						3,6
					</td>
				</tr>
				<tr>
					<td>
						24
					</td>
					<td>
						Виноградов
						Александр Юрьевич
					</td>
					<td>
						3,5
					</td>
				</tr>
				<tr>
					<td>
						25.
					</td>
					<td>
						Косов
						Артемий Константинович
					</td>
					<td>
						3,5
					</td>
				</tr>
			</tbody>
		</table>

		<h3>Информационные системы на транспорте<span class="label label-primary pull-right">группа #131</span></h3>
		<table class="table table-bordered table-striped table-hover">
			<tbody>
				<tr>
					<td>
						#
					</td>
					<td>
						Ф.И.О.
					</td>
					<td>
						Средний бал

					</td>
				</tr>
				<tr>
					<td>
						1
					</td>
					<td>
						Антонен
						Алина Андреевна
					</td>
					<td>
						4,5
					</td>
				</tr>
				<tr>
					<td>
						2
					</td>
					<td>
						Васильев
						Вадим Алексеевич
					</td>
					<td>
						4,4
					</td>
				</tr>
				<tr>
					<td>
						3
					</td>
					<td>
						Гавриш
						Александр Станиславович
					</td>
					<td>
						4,3
					</td>
				</tr>
				<tr>
					<td>
						4
					</td>
					<td>
						Коробков
						Никита Константинович
					</td>
					<td>
						4,3
					</td>
				</tr>
				<tr>
					<td>
						5
					</td>
					<td>
						Бахитов
						Руслан Тахирович
					</td>
					<td>
						4,2
					</td>
				</tr>
				<tr>
					<td>
						6
					</td>
					<td>
						Гаврилов
						Никита Денисович
					</td>
					<td>
						4,2
					</td>
				</tr>
				<tr>
					<td>
						7
					</td>
					<td>
						Михайлова
						Дарина Сергеевна
					</td>
					<td>
						4,2
					</td>
				</tr>
				<tr>
					<td>
						8
					</td>
					<td>
						Алямкин
						Евгений Иванович
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						9
					</td>
					<td>
						Борисов
						Александр Сергеевич
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						10
					</td>
					<td>
						Кольцова
						Анна Александровна
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						11
					</td>
					<td>
						Ливицкая
						Алина Михайловна
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						12
					</td>
					<td>
						Одинцова
						Ксения Валерьевна
					</td>
					<td>
						4,1
					</td>
				</tr>
				<tr>
					<td>
						13
					</td>
					<td>
						Алексеев
						Иван Михайлович
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						14
					</td>
					<td>
						Крицкий
						Илья Алексеевич
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						15
					</td>
					<td>
						Мамаджанов
						Ахмадилло Бахадирович
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						16
					</td>
					<td>
						Поляков
						Роман Витальевич
					</td>
					<td>
						3,9
					</td>
				</tr>
				<tr>
					<td>
						17
					</td>
					<td>
						Дружинина
						Анастасия Алексеевна
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						18
					</td>
					<td>
						Иванов
						Василий Сергеевич
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						19
					</td>
					<td>
						Костромин
						Денис Олегович
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						20
					</td>
					<td>
						Лобанов
						Алексей Вячеславович
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						21
					</td>
					<td>
						Пятышев
						Дмитрий Максимович
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						22
					</td>
					<td>
						Яковлев
						Вячеслав Игоревич
					</td>
					<td>
						3,8
					</td>
				</tr>
				<tr>
					<td>
						23
					</td>
					<td>
						Иванова
						Анна Сергеевна
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						24
					</td>
					<td>
						Касаткина
						Кристина Дмитриевна
					</td>
					<td>
						3,7
					</td>
				</tr>
				<tr>
					<td>
						25
					</td>
					<td>
						Попов
						Ярослав Максимович
					</td>
					<td>
						3,7
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div> -->
