<div class="container text-center">
	<h1>
		Наш адрес:
		<small>
			<a href="https://yandex.ru/maps/-/CBQz5Hs0HA">
				Санкт-Петербург, Купчинская улица, дом 28
			</a>
		</small>
	</h1>
</div>
<div id="map"></div>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARQryn-lx7tbexD1fciSgO5zNr4i2BQIQ&sensor=false"></script>
<script type="text/javascript" src="/js/gmaps.js"></script>
