<div class="list-group">
	<a class="link-icon list-group-item" href="/info/priem/приказ-о-создании-приемной-комиссии-2018.pdf" >Приказ о создании приёмной комиссии и обеспечении приема обучающихся в 2018/2019 учебном году Санкт-Петербургского государственного бюджетного профессионального образовательного учреждения «Колледж метрополитена»</a>

	<a class="link-icon list-group-item" href="/info/priem/правила-приема-2018.pdf">Правила приёма в Санкт-Петербургское государственное бюджетное профессиональное образовательное учреждение «Колледж метрополитена»</a>

	<a class="link-icon list-group-item" href="/info/priem/положение-о-приемной-комиссии-2018.pdf" >Положение о приёмной комиссии Санкт-Петербургского государственного бюджетного профессионального образовательного учреждения «Колледж метрополитена»</a>

	<a class="link-icon list-group-item" href="/info/Документы_Украина.pdf">Информация о признании в Российской Федерации документов об образовании, полученных в Украине</a>

	<a class="link-icon list-group-item" href="/info/priem/регламент-зачисление-2018.pdf">Регламент Санкт-Петербургского государственного бюджетного профессионального образовательного учреждения «Колледж метрополитена» по предоставлению услуги по предоставлению информации о зачислении в колледж</a>


	<a class="link-icon list-group-item" href="/info/priem/plan2018prof.pdf">План мероприятий по профориентации школьников и обучающихся в СПб ГБПОУ «Колледж метрополитена» на 2018 - 2019 учебный год</a>

</div>
