<div class="list-group">
	<a class="link-icon list-group-item" href="/info/priem/правила-приема2017.pdf">Правила приёма в Санкт-Петербургское государственное бюджетное профессиональное образовательное учреждение «Колледж метрополитена»</a>

	<a class="link-icon list-group-item" href="/info/priem/положение-о-приемнойкомиссии.pdf" >Положение о приёмной комиссии Санкт-Петербургского государственного бюджетного профессионального образовательного учреждения «Колледж метрополитена»</a>

	<a class="link-icon list-group-item" href="/pages/info/правила-внутреннего-распорядка.pdf">Правила внутреннего распорядка и требования к студентам Санкт-Петербургского государственного бюджетного профессионального образовательного учреждения «Колледж метрополитена»</a>

	<a class="link-icon list-group-item" href="/pages/info/Документы_Украина.pdf">Информация о признании в Российской Федерации документов об образовании, полученных в Украине</a>

	<a class="link-icon list-group-item" href="/info/priem/регламент-зачисление.pdf">Регламент Санкт-Петербургского государственного бюджетного профессионального образовательного учреждения «Колледж метрополитена» по предоставлению услуги по предоставлению информации о зачислении в колледж</a>

	<a class="link-icon list-group-item" href="/info/priem/регламент-реализация-программ.pdf">Регламент Санкт-Петербургского государственного бюджетного профессионального образовательного учреждения «Колледж метрополитена» по предоставлению услуги по предоставлению информации о реализации образовательных программ среднего профессионального образования</a>

</div>
