<div class="list-group">

	<a class="link-icon list-group-item" href="/info/priem/prikaz-o-pk-2019.pdf" >Приказ о создании приёмной комиссии и обеспечении приема обучающихся в 2019/2020 учебном году Санкт-Петербургского государственного бюджетного профессионального образовательного учреждения «Колледж метрополитена»</a>

	<a class="link-icon list-group-item" href="/info/priem/pravila-priema-2019.pdf">Правила приёма в Санкт-Петербургское государственное бюджетное профессиональное образовательное учреждение «Колледж метрополитена»</a>

	<a class="link-icon list-group-item" href="/info/priem/polozenie-o-pk-2019.pdf" >Положение о приёмной комиссии Санкт-Петербургского государственного бюджетного профессионального образовательного учреждения «Колледж метрополитена»</a>

	<a class="link-icon list-group-item" href="/info/priem/doc-ua.pdf">Информация о признании в Российской Федерации документов об образовании, полученных в Украине</a>

	<a class="link-icon list-group-item" href="/info/priem/reglament-zachislenie-2019.pdf">Регламент Санкт-Петербургского государственного бюджетного профессионального образовательного учреждения «Колледж метрополитена» по предоставлению услуги по предоставлению информации о зачислении в колледж</a>

	<a class="link-icon list-group-item" href="/info/priem/reglament-programm-2019.pdf">Регламент Санкт-Петербургского государственного бюджетного профессионального образовательного учреждения «Колледж метрополитена» по предоставлению услуги по предоставлению информации о реализации образовательных программ среднего профессионального образования</a>

  <a class="link-icon list-group-item" href="/info/priem/soglasie-pers-dan.pdf">Согласие на обработку персональных данных студента (абитуриента)</a>

	<a class="link-icon list-group-item" href="/info/priem/plan2018prof.pdf">План мероприятий по профориентации школьников и обучающихся в СПб ГБПОУ «Колледж метрополитена» на 2018 - 2019 учебный год</a>

</div>
